.BookBtn {
    padding: 5px 8px;
    color: aliceblue;
    border: none;
    background-image: linear-gradient(45deg, rgb(227, 225, 124), rgb(199, 50, 33));
}


.PostBooking {
    border: 2px solid black;
}

.UnitBlock {
    border: 2px solid black;
    padding: 8px 10px;
    border-radius: 5px;
}

.visit {
    background-color: rgb(197, 97, 97);
    color: white;
    border: none;
}

.seat-unit {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 10px;
}

.movie-content,
.time-content,
.seat-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    max-width: 1200px;
    cursor: pointer;
}


.movie,
.time,
.seat {
    border-radius: 5px;

    border: 2px solid black;
    padding: 20px 20px;
    margin: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

.BookBtn:active {
    background-image: linear-gradient(-45deg, rgb(208, 207, 153), rgb(225, 113, 101));
}


.lastBooking {
    border: 2px solid black;
    border-radius: 5px;
    height: fit-content;
    margin-top: 15px;
    padding: 8px 0px 17px 10px;
    width: 300px;
    margin-left: 20px;
}

.Show-err {
    position: absolute;
    top: 0px;
    width: 100vw;
}

.home {
    display: flex;
    margin: 20px 60px;
    flex-direction: row;
    flex-wrap: wrap;
}